@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Roboto" , sans-serif;
    color: #646363;
    background-color: hsla(145, 45%, 74%, 0.611);
}

/*----------------------------------------Header*/
header {
    background-color: hsl(145, 45%, 74%);
    width: 100%;
    position: fixed;
}

#logo {
    font-family: "Amatic SC" , sans-serif;
    letter-spacing: 2px;
    color: #034c30;
    font-weight: 900;
    padding-left: 10px;
    
}

nav ul {
    display: flex;
    float: right
}

#logo {
    float: left;
    font-size: 230%;
}

#logo, #menu {
    line-height: 75px;
}

#menu {
    font-family: "Amatic SC" , sans-serif;
    font-size: 150%;
    font-weight: 900;
    list-style-type: none;
    letter-spacing: 2px;
}

#menu li {
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #034c30;
}

#menu a:hover {
    border-bottom: 1px solid #61c39d;
    color: #61c39d;
}

.active {
    border-bottom: 1px solid #034c30;
}

/*----------------------------------------Hero Image*/
#hero-image {
    background-color: hsla(145, 45%, 74%, 0.611);
    margin-bottom: -4px;
    padding-top: 75px;
}
#hero-image img {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    #hero-image img {width: 100%; height: 50%;}
  }


@media screen and (max-width: 480px) {
    #hero-image img {width: 100%; height: 50%;}
  }

/*----------------------------------------Activities section*/

#motto {
    text-align: center;
    color: #034c30;
    background-color: #beb9b9c4;
    padding: 15px 5px 15px;
    
}

#motto p {
    font-family: "Amatic SC" , sans-serif;
    font-size: 35px;
}

/*----------------------------------------Sports section images*/

.header-sport {
    text-align: center;
    font-family: "Amatic SC" , sans-serif;
    font-size: 40px;
    padding: 30px;
    color: #034c30;
    background-color: hsla(145, 45%, 74%, 0.611); 
}

.sport-image-1 {
    float: inline-start;
    padding: 70px 150px 70px 100px;
}

.sport-image-2 {
    padding: 70px 0 70px 60px;
}

.sport-image-1 img{
    border: 1px solid hsla(145, 45%, 74%, 0.611);
    border-radius: 10%;
}

.sport-image-2 img{
    border: 1px solid hsla(145, 45%, 74%, 0.611);
    border-radius: 10%;
}



@media screen and (max-width: 1300px) {
    .sport-image-1 img {width: 100%;}
    .sport-image-1 {padding:10px;}
    .sport-image-2 img {width: 50%;}
    .sport-image-2 {padding: 0 0 20px 0;}
}

@media screen and (max-width: 500px) {
    .sport-image-1 img {width: 100%;}
    .sport-image-1 {padding:0;}
    .sport-image-2 img {width: 100%;}
    .sport-image-2 {padding: 0 0 20px 0;}
}

/*----------------------------------------Sports section text*/

.sports-msg {
    font-weight: 400;
    text-align: center;
    padding: 50px;
    background-color: hsla(145, 45%, 74%, 0.611);
}

/*----------------------------------------Footer*/

footer {
    height: 5px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 20px;
}
.facebook {
    color: hsl(220, 74%, 35%);
}

.twitter {
    color: rgb(94, 208, 208);
}
.instagram {
    color: hsl(337, 35%, 49%);
}

.youtube {
    color: hsl(0, 100%, 41%);
}

/*----------------------------------------Gallery page*/

#gallery-header{
    padding: 120px 0 30px 0;
    text-align: center;
    font-family: "Amatic SC" , sans-serif;
    font-size: 25px;
}

@media screen and (max-width: 687px) {
    #gallery-header{padding: 200px 0 30px 0;}
}

#photos-gallery {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}

#photos-gallery img {
    width: 100%;
}

@media screen and (max-width: 800px){
    #photos-gallery{
        column-count: 2;
    }
}

@media screen and (max-width: 600px){
    #photos-gallery{
        column-count: 1;
    }
}

/*----------------------------------------About Us page*/

.about-heading {
    padding-top: 100px;
    text-align: center;
}

.about-heading h1 {
    font-size: 40px;
    margin-bottom: 25px;
    color: #034c30;
}

@media screen and (max-width: 704px){
    .about-heading {
        padding-top: 200px;
    }
}

.about-heading p {
    margin-bottom: 30px;
    font-size: 18px;
    font-style: italic;
}

.about-image {
  margin-bottom: 30px;  
}

@media screen and (max-width: 704px){
    .about-image img {
        width: 100%;
    }
}

.about-content h2 {
    color: #034c30;
    margin-bottom: 20px;
}

.about-content p{
    font-style: normal;
    padding: 40px;
}

.about-content em {
    font-weight: bold;
    color: #034c30;
}

.about-content a {
    text-decoration: none;
    color:#034c30;
    font-weight: bold;
}
